# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# Trae
.trae/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# JetBrains
# =========================
.idea/

# =========================
# Output Images
# =========================
outputs/
debug/

# 标记点跟踪调试目录
标记点跟踪/debug/
标记点跟踪/outputs/

# 几何矫正调试目录
几何矫正/DEBUG_output/
几何矫正/outputs/
几何矫正/outputs_old/


# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log